body {
    font-size: 11px;
    margin: 0px;
}

label, input {
    display: block;
}

    input.text {
        margin-bottom: 12px;
        width: 95%;
        padding: .4em;
    }

.ui-dialog .ui-state-error {
    padding: .3em;
}

table.dataTable thead th, table.dataTable tbody td {
    padding: 5px 8px;
}

 table.dataTable tbody td {
    word-break: break-all;
}
.dataTables_wrapper .ui-toolbar {
    padding: 0px 8px;
}

.dataTables_wrapper .dataTables_paginate .fg-button {
    padding: 0.2em 0.5em;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 0.4em;
}

[type=search] {
    display: inline-block;
    width: 230px;
}

#btnAddESight span {
    padding: 0.3em 1em;
}

.alert-content {
    line-height: 32px;
}
.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left;
}
.dataTables_filter label,.dataTables_filter input {
    display: inline;
    vertical-align: middle;
}


#btnAddESight span {
    padding-bottom: 1px;
}

.ui-state-disabled {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    cursor: not-allowed;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}

.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #6593cf;
}

    .loadmask-msg div {
        padding: 5px 10px 5px 25px;
        background: #fbfbfb;
        line-height: 16px;
        color: #222;
        font: normal 11px tahoma, arial, helvetica, sans-serif;
    }

.masked {
    overflow: hidden !important;
}

.masked-relative {
    position: relative !important;
}

.masked-hidden {
    visibility: hidden !important;
}

.ui-state-default {
    background-color: #fcfcfc;
    color: #000000;
}
table.dataTable thead th,table.dataTable tfoot th {
    font-weight: normal;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: none
}
.ui-widget-header {
    background-color: #f4f7fc;
    background: none;
    border: none;
    border-top: 1px solid #ddd;
}
.search-toolbar {
    background: none;
    border: none;
    float: none;
    padding-bottom: 8px !important;
    background-color: #f4f7fc;
}

.ui-dialog-titlebar {
    background-color: #f4f7fc;
}
.ui-widget {
    font-size: 11px;
}