<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target
      name="default"
      xsi:type="File"
      encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\Huawei.SCOM.eSight.log"
      archiveAboveSize ="102400000"
      maxArchiveFiles="10"/>
    <target name="service" xsi:type="File" encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\Huawei.service.log"
      archiveAboveSize ="102400000"  maxArchiveFiles="10"/>
    <target
      name="ui" xsi:type="File" encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\Huawei.UI.log"
      archiveAboveSize ="102400000"  maxArchiveFiles="10"/>
    <target
        name="notifyrecv" xsi:type="File" encoding="UTF-8"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
        fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\Huawei.Notification.log"
        archiveAboveSize ="102400000" maxArchiveFiles="10"/>
    <target
       name="install" xsi:type="File" encoding="UTF-8"
       layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
       fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\Huawei.installer.log"
       archiveAboveSize ="102400000" maxArchiveFiles="10"/>
    <target
      name="api" xsi:type="File" encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\${logger}.log"
      archiveAboveSize ="102400000" maxArchiveFiles="10"/>
    <target
      name="polling" xsi:type="File" encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\${logger}.log"
      archiveAboveSize ="102400000" maxArchiveFiles="10"/>
    <target
      name="subscribe" xsi:type="File" encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\${logger}.log"
      archiveAboveSize ="102400000" maxArchiveFiles="10"/>
    <target
      name="notifyprocess" xsi:type="File" encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\${logger}.log"
      archiveAboveSize ="102400000" maxArchiveFiles="10"/>
 <target
      name="sdk" xsi:type="File" encoding="UTF-8"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=ToString,StackTrace}"
      fileName="${environment:variable=PUBLIC}\Huawei\SCOM Plugin\Logs\${logger}.log"
      archiveAboveSize ="102400000" maxArchiveFiles="10"/>

  </targets>

  <rules>
    <logger name="Default" minlevel="Debug" writeTo="default" />
    <logger name="Service" minlevel="Debug" writeTo="service" />
    <logger name="Install" minlevel="Debug" writeTo="install" />
    <logger name="UI" minlevel="Debug" writeTo="ui" />
    <logger name="NotifyRecv" minlevel="Debug" writeTo="notifyrecv" />
    <logger name="*.Polling" minlevel="Debug" writeTo="polling" />
    <logger name="*.Subscribe" minlevel="Debug" writeTo="subscribe" />
    <logger name="*.NotifyProcess" minlevel="Debug" writeTo="notifyprocess" />
    <logger name="*.Api" minlevel="Debug" writeTo="api" />
    <logger name="*.Sdk" minlevel="Debug" writeTo="sdk" />
  </rules>
</nlog>